/* Google Fonts */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v8/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format('woff2');
	unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
	}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v8/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v8/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');
	unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
	}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v8/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

/* CSS Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
	}
a{
	text-decoration:none;
	}
strong{
	font-weight: 500;
	}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
	}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
	}

body{
	font-family: 'Poppins', sans-serif;
	color: #fff;
	font-size: 1.2rem;
	line-height: 150%;
	background: #190059;
	}

h1 {
	font-size: 3.5em;
	color: rgba(255, 255, 255, 0.8);
	margin: 0 0 30px 0;
	padding: 0;
	font-weight: 200;
	line-height: 100%;
	}
h1 strong {
	font-weight: 500;
	color: #fff;
	}
h2 {
	font-size: 2.2em;
	color: rgba(255, 255, 255, 0.8);
	margin: 0 0 30px 0;
	font-weight: 100;
	line-height: 100%;
	}
h2 strong {
	font-weight: 500;
	color: #fff;
	}
h3 {
	font-size: 1.3em;
	color: rgba(255, 255, 255, 0.90);
	margin: 0 0 15px 0;
	padding: 0;
	font-weight: 500;
	}	
p {
	margin: 0 0 0.6em 0;
	font-weight: 300;
	}

/* Move Background keyframes */
@keyframes backgroundScrollRight {
		0% {
			transform: translateX(0);
		}

		100% {
			transform: translateX(350px);
		}
	}
@-webkit-keyframes backgroundScrollRight {
		0% {
			transform: translateX(0);
		}

		100% {
			transform: translateX(350px);
		}
	}
@-moz-keyframes backgroundScrollRight {
		0% {
			transform: translateX(0);
		}

		100% {
			transform: translateX(350px);
		}
	}
@keyframes backgroundScrollLeft{
		0% {
			transform: translateX(0);
		}

		100% {
			transform: translateX(-350px);
		}
	}
@-webkit-keyframes backgroundScrollLeft{
		0% {
			transform: translateX(0);
		}

		100% {
			transform: translateX(-350px);
		}
	}
@-moz-keyframes backgroundScrollLeft {
		0% {
			transform: translateX(0);
		}

		100% {
			transform: translateX(-350px);
		}
	}

@keyframes scrollDown {
		0% {
			opacity: 0;
		}
		
		72% {
			opacity: 0;
		}

		76% {
			opacity: 0.5;
		}

		80% {
			opacity: 0;
		}

		84% {
			opacity: 0.3;
		}

		88% {
			opacity: 0.8;
		}

		92% {
			opacity: 0;
		}

		96% {
			opacity: 0.5;
		}
		100% {
			opacity: 1;
		}
	}

@-webkit-keyframes scrollDown {
		0% {
			opacity: 0;
		}

		72% {
			opacity: 0;
		}

		76% {
			opacity: 0.5;
		}

		80% {
			opacity: 0;
		}

		84% {
			opacity: 0.3;
		}

		88% {
			opacity: 0.8;
		}

		92% {
			opacity: 0;
		}

		96% {
			opacity: 0.5;
		}

		100% {
			opacity: 1;
		}
	}

@-moz-keyframes scrollDown {
		0% {
			opacity: 0;
		}

		72% {
			opacity: 0;
		}

		76% {
			opacity: 0.5;
		}

		80% {
			opacity: 0;
		}

		84% {
			opacity: 0.3;
		}

		88% {
			opacity: 0.8;
		}

		92% {
			opacity: 0;
		}

		96% {
			opacity: 0.5;
		}

		100% {
			opacity: 1;
		}
	}

/* General */
.section {
	text-align: center;
	}
.section-wrap {
	max-width: 1200px;
	margin: 0px auto;
	position: relative;
	z-index: 2;
	}
.section-artwork {
	display: inline-block;
	}
.col{
	float: left;
	width: 100%;
	margin: 0 0 20px 0;
	}
.cols-2 {
	width: 46%;
	padding: 0 2% 0 2%;
	}

/* Logo */
#logo{
	position: absolute;
	padding: 3px;
	top: 22px;
	left: 22px;
	z-index: 99;
	}
#logo img{
	width: 250px;
	}

/* Main Menu */
#menu{
	position:fixed;
	top:25px;
	text-align: right;
	z-index: 70;
	width: 100%;
	padding: 0;
	}
#menu li {
	display:inline-block;
	margin: 0 28px 0 0;
	font-weight: 500;
	}
#menu li a{
	text-decoration:none;
	color: rgba(255, 255, 255, 0.7);
	}
#menu li.active a:hover{
	color: rgba(255, 255, 255, 1);
	}
#menu li.active a{
	color: #fff;
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	}

/* Home */
#home-section{
	position: relative;
	overflow: hidden;
	}
#home-section .moving-bkg {
	position: absolute;
	right: -350px;
	left: 0px;
	top: 0;
	bottom: 0;
	}
#home-section .moving-bkg {
	background: url(../img/home.svg) no-repeat top center;
	background-size: auto 100%;
	}
#home-section.fp-completely .moving-bkg {
	-webkit-animation: backgroundScrollLeft 60s linear forwards;
	-moz-animation: backgroundScrollLeft 60s linear forwards;
	animation: backgroundScrollLeft 60s linear forwards;
	}

.scroll-down{
	position: absolute;
	z-index: 99;
	display: inline-block;
	left: 20px;
	bottom: 18px;
	opacity: 0;
	}
.scroll-down img{
	width: 40px;
	max-width: 40px;
	}
#home-section.fp-completely .scroll-down {
	-webkit-animation: scrollDown 60s linear forwards;
	-moz-animation: scrollDown 60s linear forwards;
	animation: scrollDown 60s linear forwards;
	}

.rocket {
	margin: 100px 0 110px 0;
	display: inline-block;
	width: 240px;
	}
#home-section .intro{
	position: relative;
	z-index: 2;
	}
#home-section.fp-completely .intro {
	transform: translateY(15px);
	transition-timing-function: ease-in-out;
	transition: 1s;
	}

/* About */
#about-section{
	position: relative;
	overflow: hidden;
	}
#about-section .moving-bkg {
	position: absolute;
	left: 0px;
	right: -350px;
	top: 0;
	bottom: 0;
	}
#about-section .moving-bkg {
	background: url(../img/about.svg) no-repeat bottom center;
	background-size: auto 100%;
	}
#about-section.fp-completely .moving-bkg {
	-webkit-animation: backgroundScrollLeft 60s linear forwards;
	-moz-animation: backgroundScrollLeft 60s linear forwards;
	animation: backgroundScrollLeft 60s linear forwards;
	}
.about-content .about-text {
	margin: 80px 0 0 0;
	display: inline-block;
	}
.about-content .section-artwork img{
	height: 320px;
	}


/* Services */
#services-section{
	position: relative;
	overflow: hidden;
	}
#services-section .moving-bkg {
	position: absolute;
	left: -350px;
	right: 0px;
	top: 0;
	bottom: 0;
	}
#services-section .moving-bkg {
	background: url(../img/services.svg) no-repeat bottom center;
	background-size: auto 80%;
	}
#services-section.fp-completely .moving-bkg {
	-webkit-animation: backgroundScrollRight 80s linear forwards;
	-moz-animation: backgroundScrollRight 80s linear forwards;
	animation: backgroundScrollRight 80s linear forwards;
	}

.services-content .section-artwork-placeholder{
	margin: 0 0 50px 0;
	position: relative;
	}	
#services-section .section-artwork-placeholder {
	margin: 80px 0 0 0;
	display: inline-block;
	}
#services-section .section-artwork-placeholder img {
	width: 700px;
	max-width: 90%;
	}
.section-artwork-placeholder{
	width: 100%;
	clear: both;
	}
.services-text{
	padding: 0 20px 0 20px;
	}

/* Work */
#work-section {
	position: relative;
	overflow: hidden;
	}
#work-section .moving-bkg {
	position: absolute;
	left: -350px;
	right: 0px;
	top: 0;
	bottom: 0;
	}
#work-section .moving-bkg {
	background: url(../img/work.svg) no-repeat bottom center;
	background-size: auto 80%;
	}
.project-thumb{
	max-width: 300px;
	background: #000;
	padding: 20px;
	border: 2px solid #B1248A;
	margin: 0 20px 0 0;
	float: right;
	}
.project-thumb:hover{
	background: #B1248A;
	}
.project-text{
	padding: 70px 0 0 20px;
	text-align: left;
	}
.project-text a{
	color: #fff;
	font-weight: 500;
	}
.project-text a:hover{
	text-decoration: underline;
	}

/* Contact */
#contact-section {
	position: relative;
	overflow: hidden;
	}
#contact-section .moving-bkg {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0;
	bottom: 0;
	}
#contact-section .moving-bkg {
	background: url(../img/contact.svg) no-repeat bottom center;
	background-size: auto 90%;
	}

.contact-content .section-artwork-placeholder img{
	margin: 50px 0 0 0;
	width: 250px;
	max-width: 60%;
	}
.contact-content a {
	color: #fff;
	text-decoration: underline;
	}
.contact-content a:hover{
	color: #27B2FD;
	}
.contact-content strong {
	font-weight: 300;
	}
.contact-text{
	padding: 80px 0 0 0;
	}

/* Recruitment */
#recruitment-section {
  text-align: left;
  padding: 20px;
  margin-top: 80px;
  font-weight: 300;
  background: url(../img/running.png) no-repeat bottom right fixed;
  background-size: 35%;
  }
#recruitment-section a{
  color: #fff;
  text-decoration: underline;
  }
#recruitment-section ul{
  list-style: inside;
  margin: 0 0 30px 0;
  font-size: 15px;
  }
#recruitment-section ul ul{
  padding: 0 0 0 40px;
  list-style: square;
  }

/*!
 * fullPage 3.0.7
 * https://github.com/alvarotrigo/fullPage.js
 *
 * @license GPLv3 for open source use only
 * or Fullpage Commercial License for commercial use
 * http://alvarotrigo.com/fullPage/pricing/
 *
 * Copyright (C) 2018 http://alvarotrigo.com/fullPage - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;
    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
	}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
	}
.fp-slide {
    float: left;
	}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
	}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
	}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
	}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
	}
.fp-slidesContainer {
    float: left;
    position: relative;
	}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
	}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
	}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
	}
.fp-scrollable {
    overflow: hidden;
    position: relative;
	}
.fp-scroller{
    overflow: hidden;
	}
.iScrollIndicator{
    border: 0 !important;
	}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
	}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
	}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
	}
.fp-slidesNav.fp-bottom {
    bottom: 30px;
	}
.fp-slidesNav.fp-top {
    top: 17px;
	}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
	}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
	}
.fp-slidesNav ul li {
    display: inline-block;
	}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
	}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 	}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
	}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
	}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
	}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
	}
#fp-nav ul li .fp-tooltip.fp-right {
    right: 20px;
	}
#fp-nav ul li .fp-tooltip.fp-left {
    left: 20px;
	}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
	}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
	}

/*Only display content to screen readers*/
.fp-sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
	}

/* Bullet / Arrow Navigation */
#fp-nav ul li a span{
	background: #fff !important;
	}
.fp-slidesNav ul li a span {
	background: #fff !important;
	}
.fp-controlArrow {
	bottom: 25px !important;
	top: auto;
	margin-top: 0;
	z-index: 99;
	opacity: 1;
	}
.fp-controlArrow:hover{
	opacity: 0.8;
	}
.fp-controlArrow.fp-next{
	border: 0;
	width: 29px;
	height: 52px;
	right: 25px;
	}
.fp-controlArrow.fp-next {
	background: url(../img/arrow-right.svg);
	}
.fp-controlArrow.fp-prev{
	border: 0;
	width: 29px;
	height: 52px;
	left: 25px;
	}
.fp-controlArrow.fp-prev {
	background: url(../img/arrow-left.svg);
	}

.fp-slidesContainer {
	width: 100% !important;
	transform: none !important;
	}
.fp-slide {
	width: 100% !important;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 0;
	transition: all .2s ease-in-out;
	}
.fp-slide.active {
	visibility: visible;
	opacity: 1;
	z-index: 1;
	}

/* Media Queries */ 
@media screen and (max-width: 1199px) {
	.about-text{
		padding: 0 25px 0 25px;
		}
	}
@media screen and (max-width: 767px) {
	.cols-2{
		width: 86%;
		padding: 0 7% 0 7%;
		}
	#menu{
		display: none;
		}
	#logo{
		width: 100%;
		text-align: center;
		left: 0;
		top: 30px;
		}
	#logo img{
		max-width: 85%;
		}
	#fp-nav.fp-left{
		left: 5px;
		}
	#fp-nav ul li,
	.fp-slidesNav ul li{
		margin: 5px;
		}
	.fp-controlArrow.fp-prev,
	.fp-controlArrow.fp-next{
		width: 17px !important;
		height: 30px !important;
		bottom: 30px !important;
		}
	.fp-slidesNav.fp-bottom{
		bottom: 25px;
		}

	#home-section .moving-bkg {
		background-size: auto 60%;
		}
	.rocket{
		max-width: 80%;
		margin: 100px 0 40px 0;
		}
	.intro-headings{
		padding: 0 25px 0 25px;
		}
	.intro-headings h1{
		font-size: 2.2rem;
		margin: 15px;
		}
	.intro-headings h2 {
		font-size: 1.5rem;
		}	
	
	#about-section .moving-bkg {
		background-size: auto 50%;
		}
	.about-content .about-text {
		margin: 90px 0 20px 0 !important;
		display: inline-block;
		font-size: 1rem;
		line-height: 130%;
		padding: 0 35px 0 35px;
		}
	.about-content .section-artwork{
		max-height: 200px;
		}
	.about-content .section-artwork img {
		max-height: 200px;
		}
	
	#services-section .moving-bkg {
		background-size: auto 50%;
		}
	#services-section  .services-content .section-artwork-placeholder {
		margin: 10px 0 0px 0;
		}
	#services-section .section-artwork{
		max-width: 95%;
		margin: 0;
		}
		
	#services-section .section-artwork img{
		max-width: 100%
		}
	.services-text {
		font-size: 1rem;
		line-height: 130%;
		padding: 0 40px 0 40px;
		}

	#work-section .moving-bkg {
		background-size: auto 70%;
		left: 0px;
		}
	.project-thumb{
		max-width: 50%;
		float: none;
		margin: 90px 0 20px 0;
		display: inline-block;
		}
	.project-thumb img{
		width: 100%;
		}
	h3{
		font-size: 1.3rem;
		}
	.project-text{
		padding: 0 30px 0 30px;
		font-size: 1rem;
		line-height: 130%;
		text-align: center;
		}

	#contact-section .moving-bkg {
		background-size: auto 60%;
		}
	
	.contact-content .section-artwork {
		margin: 100px 0 20px 0;
		display: inline-block;
		max-height: 190px;
		}
	.contact-content .section-artwork img{
		max-height: 190px;
		}
	.contact-text{
		margin: 90px 0 0 0;
		font-size: 1rem;
		line-height: 130%;
		padding: 0 20px 0 20px;
		}
		
	}
@media screen and (max-width: 320px) {
		#logo img{
			max-width: 60%;
			}
			
		.intro-headings h1 {
			font-size: 1.6rem;
			margin: 0 0 20px 0;
			}
		.intro-headings h2 {
			font-size: 1.1rem;
			line-height: 120%;
			}
		.about-content .about-text {
			font-size: 0.8rem;
			line-height: 133%;
			}
		.about-content .section-artwork{
			max-height: 150px;
			}
		.about-content .section-artwork img{
			max-height: 150px;
			}
		.services-content .services-text {
			margin: 90px 0 0 0;
			font-size: 0.8rem;
			line-height: 133%;
			}
		h3{
			font-size: 1rem;
			margin: 0 0 5px 0;
			}
		.project-text{
			font-size: 0.8rem;
			line-height: 133%;
			}
		.contact-content .section-artwork-placeholder img {
			max-height: 150px;
			margin: 0px 0 0 0;
			}
		.contact-text{
			font-size: 0.8rem;
			line-height: 133%;
			margin: 30px 0 30px 0;
			}

		.fp-controlArrow.fp-prev,
		.fp-controlArrow.fp-next {
			bottom: 20px !important;
			}

		.fp-slidesNav.fp-bottom {
			bottom: 15px;
			}
		
	}

